# Análisis de Datos para el Perfil geográfico

In [42]:
!pip install pandas
import pandas as pd
pd.set_option('display.max_columns', None)

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [46]:
data2017 = "data/nac2017.csv"
data2018 = "data/nac2018.csv"
data2021 = "data/nac2021.csv"
data2022 = "data/nac2022.csv"

In [47]:
nac2017 = pd.read_csv(data2017, encoding='ISO-8859-1')
nac2018 = pd.read_csv(data2018, encoding='ISO-8859-1')
nac2021 = pd.read_csv(data2021, encoding='ISO-8859-1')
nac2022 = pd.read_csv(data2022, encoding='ISO-8859-1')

<ipython-input-47-f6ba3043f334>:4: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  nac2022 = pd.read_csv(data2022, encoding='ISO-8859-1')

In [48]:
((nac2017.isnull().sum()/nac2017.shape[0])).sort_values(ascending=False).head(10)

OTRO_SIT      0.998555
FECHA_NACM    0.477597
IDCLASADMI    0.026651
CODMUNRE      0.001929
CODPTORE      0.001928
AREA_RES      0.001821
CODPRES       0.000002
EST_CIVM      0.000000
NIV_EDUM      0.000000
ULTCURMAD     0.000000
dtype: float64

In [49]:
((nac2018.isnull().sum()/nac2018.shape[0])).sort_values(ascending=False).head(10)

OTRO_SIT      0.997184
FECHA_NACM    0.473936
IDCLASADMI    0.057275
CODPTORE      0.006302
CODMUNRE      0.006302
AREA_RES      0.006142
EST_CIVM      0.000000
NIV_EDUM      0.000000
ULTCURMAD     0.000000
CODPRES       0.000000
dtype: float64

In [50]:
((nac2021.isnull().sum()/nac2021.shape[0])).sort_values(ascending=False).head(10)

OTRO_SIT      0.997659
FECHA_NACM    0.441301
IDCLASADMI    0.106486
CODPTORE      0.014315
CODMUNRE      0.014315
AREA_RES      0.014310
PROFESION     0.000109
EST_CIVM      0.000000
NIV_EDUM      0.000000
ULTCURMAD     0.000000
dtype: float64

In [51]:
((nac2022.isnull().sum()/nac2022.shape[0])).sort_values(ascending=False).head(10)

OTRO_SIT      0.997990
FECHA_NACM    0.452221
IDCLASADMI    0.071031
AREA_RES      0.011154
CODPTORE      0.011154
CODMUNRE      0.011154
PROFESION     0.003834
CODPRES       0.003635
EST_CIVM      0.000000
NIV_EDUM      0.000000
dtype: float64

In [52]:
nac2022.sample(5)

,COD_DPTO,COD_MUNIC,AREANAC,SIT_PARTO,OTRO_SIT,SEXO,PESO_NAC,TALLA_NAC,ANO,MES,ATEN_PAR,T_GES,T_GES_AGRU_CIE,NUMCONSUL,TIPO_PARTO,MUL_PARTO,APGAR1,APGAR2,IDHEMOCLAS,IDFACTORRH,IDPERTET,EDAD_MADRE,EST_CIVM,NIV_EDUM,ULTCURMAD,CODPRES,CODPTORE,CODMUNRE,AREA_RES,N_HIJOSV,FECHA_NACM,N_EMB,SEG_SOCIAL,IDCLASADMI,EDAD_PADRE,NIV_EDUP,ULTCURPAD,PROFESION,TIPOFORMULARIO
376714,11,1,1,1,NaN,1,6,5,2022,5,1,4,4,8,2,1,4,9,1,1,6,5,6,9,5,170.0,11.0,1.0,1.0,1,NaN,1,1,1.0,30,9,5,1.0,1
210042,52,1,1,1,NaN,1,5,5,2022,4,1,3,3,8,2,1,8,10,3,1,6,6,1,3,8,170.0,52.0,79.0,3.0,3,11/12/2009,4,2,2.0,28,2,2,1.0,1
399477,44,650,1,1,NaN,1,7,5,2022,5,1,4,4,3,2,1,8,9,3,1,6,2,5,3,7,170.0,44.0,420.0,1.0,3,29/11/2019,3,2,2.0,20,3,9,1.0,1
90583,47,189,1,1,NaN,2,5,4,2022,12,1,4,4,4,1,1,10,10,3,1,6,2,2,4,11,170.0,47.0,189.0,1.0,1,NaN,1,1,1.0,17,4,10,1.0,1
255436,5,266,1,1,NaN,2,6,5,2022,2,1,4,4,5,1,1,9,10,3,1,6,3,5,5,11,170.0,5.0,360.0,2.0,1,NaN,1,5,NaN,25,5,11,1.0,1

In [53]:
nac2021 = nac2021.drop("TIPOFORMULARIO",axis=1)
nac2022 = nac2022.drop("TIPOFORMULARIO",axis=1)
nacs = df_concatenado = pd.concat([nac2017,nac2018,nac2021,nac2022], axis=0)

In [54]:
nacs.sample(5)

,COD_DPTO,COD_MUNIC,AREANAC,SIT_PARTO,OTRO_SIT,SEXO,PESO_NAC,TALLA_NAC,ANO,MES,ATEN_PAR,T_GES,T_GES_AGRU_CIE,NUMCONSUL,TIPO_PARTO,MUL_PARTO,APGAR1,APGAR2,IDHEMOCLAS,IDFACTORRH,IDPERTET,EDAD_MADRE,EST_CIVM,NIV_EDUM,ULTCURMAD,CODPRES,CODPTORE,CODMUNRE,AREA_RES,N_HIJOSV,FECHA_NACM,N_EMB,SEG_SOCIAL,IDCLASADMI,EDAD_PADRE,NIV_EDUP,ULTCURPAD,PROFESION
104139,8,1,1,1,NaN,2,6,5,2022,12,1,4,4,8,1,1,9,9,3,1,6,5,1,5,11,170.0,8.0,1.0,1.0,2,07/09/2014,3,2,2.0,29,4,11,1.0
60531,20,11,1,1,NaN,1,6,5,2021,5,1,4,4,8,1,1,8,9,1,1,6,3,1,9,5,170.0,20.0,11.0,1.0,1,NaN,1,1,1.0,28,9,5,1.0
604721,11,1,1,1,NaN,2,6,4,2017,9,1,4,4,6,2,1,8,9,3,1,6,3,1,4,10,170.0,11.0,1.0,1.0,2,19/10/2011,4,2,2.0,27,3,7,1.0
358012,54,1,1,1,NaN,1,6,5,2021,4,1,4,4,8,1,1,8,10,1,1,6,2,5,2,5,170.0,54.0,720.0,1.0,1,NaN,1,2,2.0,22,2,2,1.0
550683,11,1,1,1,NaN,2,4,4,2017,10,1,3,3,2,2,1,8,8,3,1,6,2,1,2,5,170.0,25.0,843.0,3.0,2,14/05/2016,2,5,NaN,26,3,8,1.0

In [55]:
((nacs.isnull().sum()/nacs.shape[0])).sort_values(ascending=False).head(15)

OTRO_SIT      0.997847
FECHA_NACM    0.461844
IDCLASADMI    0.064541
CODMUNRE      0.008247
CODPTORE      0.008246
AREA_RES      0.008176
PROFESION     0.000908
CODPRES       0.000836
SEG_SOCIAL    0.000000
N_EMB         0.000000
IDPERTET      0.000000
N_HIJOSV      0.000000
EDAD_PADRE    0.000000
NIV_EDUP      0.000000
ULTCURPAD     0.000000
dtype: float64

## Definición de Variables geográficas

In [56]:
vars_geograficas = ["COD_DPTO","COD_MUNIC","AREANAC","SIT_PARTO","CODPRES","CODMUNRE","AREA_RES","OTRO_SIT"]

In [57]:
geo_df = nacs[vars_geograficas].copy()

In [58]:
geo_df.sample(5)

,COD_DPTO,COD_MUNIC,AREANAC,SIT_PARTO,CODPRES,CODMUNRE,AREA_RES,OTRO_SIT
158488,44,650,1,1,170.0,650.0,2.0,NaN
388904,20,1,1,1,170.0,1.0,1.0,NaN
508900,70,1,1,1,170.0,1.0,1.0,NaN
222637,50,573,1,1,170.0,573.0,1.0,NaN
188990,25,307,1,1,170.0,148.0,1.0,NaN

In [59]:
((geo_df.isnull().sum()/geo_df.shape[0])*100).sort_values(ascending=False)

OTRO_SIT     99.784726
CODMUNRE      0.824681
AREA_RES      0.817551
CODPRES       0.083562
COD_DPTO      0.000000
COD_MUNIC     0.000000
AREANAC       0.000000
SIT_PARTO     0.000000
dtype: float64

In [60]:
geo_df['CODPRES'].value_counts()

CODPRES
170.0    2475949
862.0      17854
76.0         136
533.0         66
604.0         59
218.0         46
528.0         28
174.0         18
840.0         16
530.0         15
484.0          8
152.0          6
591.0          5
704.0          5
548.0          4
724.0          4
188.0          4
124.0          3
222.0          2
68.0           2
887.0          2
32.0           2
662.0          2
756.0          2
340.0          2
332.0          2
250.0          2
891.0          2
8.0            1
660.0          1
716.0          1
196.0          1
214.0          1
4.0            1
630.0          1
36.0           1
192.0          1
270.0          1
180.0          1
191.0          1
702.0          1
426.0          1
56.0           1
136.0          1
858.0          1
670.0          1
608.0          1
780.0          1
388.0          1
44.0           1
384.0          1
634.0          1
643.0          1
404.0          1
Name: count, dtype: int64

In [61]:
geo_df['COD_DPTO'].value_counts()

COD_DPTO
11    370760
5     287894
76    193658
8     164821
13    134750
68    112218
23    104201
47     95590
54     92554
20     88603
44     88570
25     79778
41     74353
52     67321
70     65096
50     61380
73     61141
19     59989
15     53772
66     42070
17     33294
18     26935
27     26098
85     24514
63     22533
81     20547
86     17192
99      5883
95      5281
91      5100
94      4684
97      2930
88      2848
Name: count, dtype: int64